/**
 * Config / Palette
 */


// Brand colours
$color-primary: #09101b;
$color-secondary: #fd5124;
$color-tertiary: #fc6a43;

$color-blue-dark: #1a2331;
$color-blue-light: #727c8c;

// Defaults
$color-white: #FFFFFF;
$color-black: #000000;
