// Utils
@import '../utils/tracking';

/**
 * Components / Logo
 */

.logo {
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: tracking(150);

    span {
        font-weight: 400;
    }

}
