// Utils
@import '../utils/tracking';
@import '../utils/rem';

/**
 * Components / Logo
 */

.logo {
    margin: 0;
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: tracking(150);

    span {
        font-weight: 400;
    }

}

.logo--small {
    font-size: rem(18px);
}
